body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #007bff;
}
nav h1 {
    background-color: #007bff;
    color: black;
    text-align: center;
    padding: 1.5rem;
}

h2 {
    font-size: 20px;
    color: #555;
}

#search-section {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input, select, button {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.event-card {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.event-card h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #222;
}

.event-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.save-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
#savedEventsContainer{
    background-color: #007bff;
    padding: 2rem;
    margin-bottom: 1rem;
}
#savedEventsContainer h2{
    text-align: center;
    color: white;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 40px;
    gap: 3rem;
}
.wrapper_container{
    background-color: #007bff;
    text-align: center;
    padding: 2rem;
    border-radius: 0.3rem;
}
.wrapper_container{
   transition: 0.3s;
   transform: translate(0.9);
}

.save-btn:hover {
    background: #218838;
}
footer{
    background-color: #007bff;
}
.footer{
    display: flex;
    gap: 3rem;
    padding: 2rem;

}


@media (max-width: 600px) {
    #search-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input, select, button {
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width:678px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    
}